 #input,
#output {
    padding: 0.5em;
}

#input {
    text-align: left;
    background-color: rgb(30, 30, 30);
    margin-bottom: 10px;
}


#output {
    text-align: center;
}

* {
    box-sizing: border-box;
}

h6 {
    margin: 0
}

#calculator {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 150%;
    margin: 0;
    background-color: rgb(50, 50, 50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
}

#calculator {
    overflow: none;
    background-color: rgb(40, 40, 40);
    display: grid;
    grid-template-columns: 1fr 250px;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.rightSide {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-self: flex-start;
}

.rightSide h4 {
    padding: 0.5em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .rightSide {
        display: none;

    }
    .container {
        grid-template-columns: 1fr;
        gap:10px;
    }
}

.historyContainer {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

button,
input {
    font: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
}

.angleFormat {
    font-size: 80%;
    display: flex;
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: 19px;
}

.angleFormat button {
    color: white;
    font-size: 100%;
    border: 2px solid rgb(60, 60, 60);
    padding: 5px 10px;
}

#radButton {
    border-radius: 15px 0px 0px 15px;
}

#degButton {
    border-radius: 0px 15px 15px 0px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.basicButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 1;
    gap: 20px;
    margin-bottom: 20px;
}

.complexButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 1;
    gap: 20px;
    margin-bottom: 20px;
}

.complexButtons button {
    border: 2px solid rgb(60, 60, 60);
    border-radius: 15px 15px 15px 15px;
}

.basicButtons button {
    border: 2px solid rgb(60, 60, 60);
    border-radius: 15px 15px 15px 15px;
}

.blueButton {
    background-color: rgb(15, 57, 105);
}

.greyButton {
    background-color: rgb(142, 147, 167);
}

.whiteButton {
    color: black;
    background-color: whitesmoke;
}


.historyItem {
    border-bottom: 1px solid rgb(100, 100, 100);
    padding-left: 1em;
    padding-right: 1em;
    color: grey;
    font-size: 60%;
}

.historyItem>*:first-child {
    padding-top: 0.5em;
}

.historyItem>*:last-child {
    text-align: right;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.2);
    transition: background-color 0.3s ease;
} 