html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(40, 40, 40);
}

body h1 {
    color: antiquewhite;

}

body h2 {
    color: rgb(142, 147, 142);
}

body p {
    color: rgb(142, 147, 167);
}

.navbar {
    background-color: rgb(40, 40, 40) !important;
    color: white !important;
}

.navbar-brand {
    font-size: 25px;
    color: navajowhite !important;
    font-family: '', monospace;
}

.nav-link {
    color: rgb(142, 147, 167) !important;
    font-family: 'Ubuntu Mono', monospace;
}

.footer {
    font-family: 'Ubuntu Mono', monospace;
}
