@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h2>About this app</h2>
<p>This app is a scientific calculator app developed for the course of Cloud Application Development with module code COMP3207. It can handle all the basic calculation of a scientific calculator.</p>

<h2>Contact Information</h2>
<p>Github: <a href=https://github.com/b-knd>b-knd</a></p>
<p>Email: angjingru@gmail.com</p>