@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/calculator.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.1.0/math.min.js"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="~/js/calculator.js" defer></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container" id="calculator">
        <div class="leftSide">
            <input type="text" id="output" disabled="true">
            <input type="text" id="input" placeholder="Input">

            <div class="buttons">
                <div class="complexButtons">
                    <button>(-)</button>
                    <button>&#8730;x</button>
                    <button>x<sup>2</sup></button>
                    <button>x<sup>Y</sup></button>
                    <button>x<sup>-1</sup></button>
                    <button>Log<sub>a</sub>b</button>

                    <button>x!</button>
                    <button>sin</button>
                    <button>cos</button>
                    <button>tan</button>
                    <button>log</button>
                    <button>ln</button>
                </div>

                <div class="basicButtons">

                    <button class="greyButton">7</button>
                    <button class="greyButton">8</button>
                    <button class="greyButton">9</button>
                    <button class="greyButton">DEL</button>
                    <button class="greyButton">CLR</button>

                    <button class="greyButton">4</button>
                    <button class="greyButton">5</button>
                    <button class="greyButton">6</button>
                    <button class="whiteButton">x</button>
                    <button class="whiteButton">&#247</button>

                    <button class="greyButton">1</button>
                    <button class="greyButton">2</button>
                    <button class="greyButton">3</button>
                    <button class="whiteButton">+</button>
                    <button class="whiteButton">-</button>

                    <button class="greyButton">0</button>
                    <button class="greyButton">.</button>
                    <button class="blueButton">=</button>
                    <button class="whiteButton">(</button>
                    <button class="whiteButton">)</button>

                </div>
            </div>
        </div>
        <div class="rightSide">
            <h4>Log</h4>
            <div class="historyContainer">

            </div>
        </div>
    </div>
</body>

