@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Privacy"]</h1>

<h2>Privacy and Ownership</h2>
<p>This app and all of its associated source code, design and content belongs the property of <a href="https://github.com/b-knd">b-knd</a>. The source code is made available for educational and information purposes only.</p>